<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711865112074-1q13hig67pgfnl8ss19i2kqmaflb4apj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711865112074-1q13hig67pgfnl8ss19i2kqmaflb4apj</string>
	<key>API_KEY</key>
	<string>AIzaSyDxdjUMt5NGUXzczOuVOVrABUBJ3LD3buI</string>
	<key>GCM_SENDER_ID</key>
	<string>711865112074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ir.vistaapp.vusiness</string>
	<key>PROJECT_ID</key>
	<string>vusiness-94a54</string>
	<key>STORAGE_BUCKET</key>
	<string>vusiness-94a54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711865112074:ios:500b25827347e2fcb8b1f3</string>
	<key>DATABASE_URL</key>
	<string>https://vusiness-94a54.firebaseio.com</string>
</dict>
</plist>